.leftSidebarBottom {
  width: 15vw;
  border-radius: 10px;
  padding: 18px;
  background-color: rgba(48, 44, 44, 0.781);
  color: white;
  height: 75vh;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.your_library {
  display: flex;
  justify-content: space-between;
}

.text_and_image {
  display: flex;
  gap: 10px;
}

.create_your_playlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(66, 57, 57, 0.781);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  gap: 5px;
}

.lets_find_some_podcasts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(66, 57, 57, 0.781);
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  gap: 5px;
}

.browse_podcasts_button,
.create_playlist_button {
  width: max-content;
  border: 1px solid red;
  font-weight: bolder;
  padding: 5px;
  border-radius: 15px;
  border: none;
}

.browse_podcasts_button:hover,
.create_playlist_button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
