.footer {
  width: 99%;
  color: white;
  padding: 15px;
  height: 70px;
  margin: 0.4%;
  background-image: linear-gradient(90deg, #af2896, #509bf5);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.footer_h6,
.footer_h5 {
  text-align: left;
}

.sign_up_for_free_button {
  background-color: white;
  color: black;
  width: 100%;
  border-radius: 15px;
  border: none;
  padding: 10px;
  font-weight: bolder;
  transition: transform 0.3s ease;
}

.sign_up_for_free_button:hover {
  transform: scale(1.05);
  cursor: pointer;
}